{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>リーマンブログ</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'css/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
        <meta charset="UTF-8">  
        <meta name="blog" content="blog">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Benchpresslover">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="swOV_7SOROkVqM9uc46kmuq3l2R78xBdycuam2pWeBI" />
    </head>
    <body>
        <nav>
            <div class="col-6">
                <a class="nav-title" href="{% url 'post_list' %}">リーマンブログ</a>
            </div>
        </nav>
        <div class="container">
            <main class="col-6">
                <div>
                {% block content %}
                {% endblock %}
                </div>
            </main>
        <div>
    </body>
</html>