{% extends 'blog/base.html' %}

{% block content %}
    <header>
        <div><a class="article-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></div>
        <div><time>{{ post.published_date }}</time></div>
    </header>
    <div class="text">
        {{ post.text | safe }}
    </div>
    {% comment %} <div class="related-posts">
        <a>関連記事</a>
        {% for pk, title in related_posts_titles.items %}
            <a href="{% url 'post_detail' pk=pk %}"><p>{{ title }}</p></a>
        {% endfor %}
    </div> {% endcomment %}
    <footer>
        {% with next=post.get_next_by_created_date %}
            {% if next %}
                <a class="next" href="{% url 'post_detail' pk=next.pk %}">&laquo</a>
            {% else %}
                <p class="dummy">&laquo</p>
            {% endif %}
        {% endwith %}
        <a class="home" href="{% url 'post_list'%}">Home</a>
        {% with prev=post.get_previous_by_created_date %}
            {% if prev %}
                <a class="previous" href="{% url 'post_detail' pk=prev.pk %}">&raquo</a>
            {% else %}
                <p class="dummy">&raquo</p>
            {% endif %}
        {% endwith %}
    </footer>
{% endblock %}

